@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   
body {
    width: 100%;
}
header {
    width: 100vw;
    height: 300px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: center;
    align-items: center;    
}
.logo > img {
    width: 60%;
    height: 100%;
}
nav {
    width: 30%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;  
}
nav > a {
    width: 100%;
    height: 33%;
    display: flex;
    padding: 3px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    width: 100%;
    height: auto;
    display: auto;
    background-image: url(../img/ffundo.jpg);
    background-repeat: no-repeat;

}
.banner {
    display: none;
}
.curiosidades {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curiosidades-titulo {
    font-size: 1,8vw;
    color: rgb(7, 4, 10);
    
}
.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: 70%;
}
.card {
    width: 100%;
    height: 78vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #d4e9f3;
    border-radius: 20px;
    font-size: 2vw;
    border: 1px solid #222222;
}
.card1 {
    width: 100%;
    height: 40%;
}
.card1 > img {
    width: 100%;
    height: 100%;
    border-top-left-radius:  17px;
    border-top-right-radius: 17px;
}
.card > img {
    width: 100%;
    height: 45%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}
.texto > p {
    font-size: 14px;
    padding: 10px;
}
.texto > h2 {
    font-size: 14px;
}
.card > p {
    
    font-size: 16px;
    padding: 8px;
}
.video {
    width: 100%;
    height: 40vw;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.video-titulo {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.video-titulo > h3 {
    font-size: 3vw;
    color: white;
    
}
.video-frame {
    width: 50%;
    height: 80%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-frame > iframe {
    width: 100%;
    height: 80%;
}
footer {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;

}
.contatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-around;
}
.linkedin {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 42%;

} 
.github {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 42%;
}
.linkedin > img {
    width: 80%;
    height: 100%;
}
.github > img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}



@media (min-width: 426px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    nav > a {
        width: 25%;
    }
    a:hover {
        color: rgb(23, 209, 209);
        border: 3px solid rgb(23, 209, 209);
    }
    main {
        background-image: none;
        background-color: #b4b6b6;
    }
    .container-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }
    .card {
        height: 900px;
        justify-content: space-between;
    }
    .card > img {
        height: 28%;
        width: 100%;
    }
    .card > p {
        height: 50%;
        width: 90%;
        font-size: 1.7vw;
    }
    .card > h2 {
        text-align: center;
    }
    .curiosidades-titulo {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 25px;
        padding: 15px;
    }
    .banner {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70vh;
        padding-top: 20px;
    }
    .banner > img {
        width: 90%;
        height: 90%;
        border-radius: 20px;
        border: 2px solid rgb(11, 139, 156);  
    }
    .contatos {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .linkedin > img {
        width: 70%;
        height: 100%;
    }
    .github > img {
        width: 70%;
        height: 100%;
        border-radius: 10px;
    }
    
}